<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>atomic design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Coiny|Hanalei+Fill" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">

</head>
<body>
    
    <nav class="navbar navbar-light bg-light">
        <h1 id = "colors">Password123</h1>
          </nav>
        <div class=" br-research">
                <div class="form-row align-items-center">
                        <div class="col-sm-5 my-1">
                         
                        <form method= "POST" action="/result">
                            <label class="sr-only" for="inlineFormInputName">Name</label>
                           <input type="text" class="form-control" name="bamss" id="inlineFormInputName" placeholder="ex: mybrithay98">
                        </div>
                        <div class="col-sm-3 my-1">
                                <button class="btn btn-primary">generate</button>
                        </div>
                    </form>
            </div>
        </div>
       <div class="text-center">
       <h2 id="result"><%= @result%></h2>
       <div>

        <div class="bloc">
            <div>
                <img src="img/hacker.svg" alt="icon hacker" class="undraw">
            </div>
            <div class="col-6">
                    <h2 id="carter"> a hacker has hacked dozens of GPS with the word "123456"</h2>
                     <p>
                    Baaa oui, most passwords are ultimately too easy for hackers,
                    usually the average user will use simple passwords like the birthdays of these kids (my Dad), 
                    his name or the best of all are phone number
                    </p>
            </div>
        </div>
        <div class="bloc">
                <div class="col-6">
                        <h2 id="carter">a sophisticated password please</h2>
                        <p>
                        it's simple just type words or references that you have in 
                        the search bar and you'll have a sophisticated word.
                        </p>
                         <p>For example your good old password "password123" will give "Psdvvzrug456" style no?</p>
                 </div>
                <div>
                    <img src="img/Beyonce.svg" alt="icon password beyonce" class="undraw">
                </div>
                
            </div>
            <div class="bloc">
                    <div>
                        <img src="img/jayZ.svg" alt="jayZ" class="undraw">
                    </div>
                    <div class="col-6">
                           <h2 id="carter">jayZ protect you</h2>
                           <p>
                                Congratulations, now you have a password as sophisticated as the Turing Machine, 
                                but there is no secure password for eternity,
                                so beware of your personal data on the internet 
                           </p>

                    </div>
                </div>
                <div class="footer">
                    <footer class="text-center">made by Bamss ❤️</footer>
                </div>
</body>